In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [3]:
data=pd.read_csv("spam_ham_dataset.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [4]:
data["label"].value_counts()

label
ham     3672
spam    1499
Name: count, dtype: int64

In [5]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
data.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [5]:
data.drop(['Unnamed: 0','label_num'],axis=1)

     label                                               text
0      ham  Subject: enron methanol ; meter # : 988291\r\n...
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springs\r\nthis deal is t...
...    ...                                                ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169   ham  Subject: industrial worksheets for august 2000...
5170  spam  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

In [6]:
data["label"]=data["label"].apply(lambda x:1 if x =="spam" else 0)

In [7]:
data["label"].value_counts()

label
0    3672
1    1499
Name: count, dtype: int64

Data Preprocessing :

In [8]:
data.duplicated().sum()

np.int64(0)

In [12]:
nlp = spacy.load("en_core_web_sm")

In [ ]:
## Remove stop words, punctuation, digits, and convert to lowercase

In [27]:

data["text"]=data["text"].apply(lambda x : ' '.join([token.text for token in nlp(x) if not token.is_stop  and not token.is_punct and not token.like_num]))

In [28]:
data.to_csv('data_cleaned.csv', index=False)

In [30]:
cleaned=pd.read_csv("data_cleaned.csv")

In [31]:
# Nettoyer les caractères indésirables (retours chariot, sauts de ligne, etc.)
cleaned['text'] = cleaned['text'].apply(lambda x: x.replace('\r', ' ').replace('\n', ' ').strip())

In [32]:
# Désactiver la troncature des colonnes dans l'affichage
pd.set_option('display.max_colwidth', None)

# Afficher la première ligne de la colonne 'text' après nettoyage
print(cleaned["text"].head(1).to_string(index=False))

Subject enron methanol meter     follow note gave monday preliminary     flow data provided daren     override pop s daily volume presently reflect daily     activity obtain gas control     change needed asap economics purposes

Stemming and lemmatization

1-Lemmatization: Extracting the lemma for each token

In [34]:
cleaned["text"]=cleaned["text"].apply(lambda x : ' '.join([token.lemma_ for token in nlp(x)]))

In [36]:
data.to_csv('data_cleaned2.csv', index=False)

In [38]:
cleaned2=pd.read_csv("data_cleaned2.csv")